
QTL_mapping/.Rhistory
QTL_mapping/docs/images/Sex/Female/.Rhistory
QTL_mapping/.ipynb_checkpoints/RQTL-checkpoint.R
QTL_mapping/docs/PCA/.ipynb_checkpoints/PCA_R-checkpoint.ipynb
QTL_mapping/docs/PCA/.ipynb_checkpoints/Background-checkpoint.ipynb
QTL_mapping/.ipynb_checkpoints/Ni_Summary-checkpoint.ipynb
QTL_mapping/.ipynb_checkpoints/FemaleMap-checkpoint.csv
QTL_mapping/.ipynb_checkpoints/Cd_Summary-checkpoint.ipynb
QTL_mapping/docs/PCA/F1 Ions/.ipynb_checkpoints/IonStats-checkpoint.csv
QTL_mapping/docs/PCA/F1 Ions/.ipynb_checkpoints/IonStats-checkpoint.ipynb
QTL_mapping/.ipynb_checkpoints/Li_Summary-checkpoint.ipynb
QTL_mapping/.ipynb_checkpoints/K_Summary-checkpoint.ipynb
QTL_mapping/.ipynb_checkpoints/Na_Summary-checkpoint.ipynb
QTL_mapping/.ipynb_checkpoints/B_Summary-checkpoint.ipynb
QTL_mapping/.ipynb_checkpoints/Co_Summary-checkpoint.ipynb
QTL_mapping/docs/PCA/.ipynb_checkpoints/PCA-checkpoint.csv
QTL_mapping/docs/PCA/.ipynb_checkpoints/PCA_Flipped-checkpoint.csv
Ionomics/F1/.ipynb_checkpoints/IonStats-checkpoint.ipynb
Ionomics/genevaionomics/.ipynb_checkpoints/Geneva Ionomics_Y-checkpoint.csv
Ionomics/genevaionomics/.ipynb_checkpoints/Multivariate correlation plot among vitis species-checkpoint.ipynb
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/FemaleMap-checkpoint.csv
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/MaleMap-checkpoint.csv
QTL_mapping/.ipynb_checkpoints/Fe_Summary-checkpoint.ipynb
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/Ni_Summary-checkpoint.ipynb
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/Al_Summary-checkpoint.ipynb
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/P_Summary-checkpoint.ipynb
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/Cu_Summary-checkpoint.ipynb
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/Fe_Summary-checkpoint.ipynb
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/Fe_Summary-Test-checkpoint.ipynb
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/Ni_Sum_Bioconductor-checkpoint.ipynb
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/Mn_Summary-checkpoint.ipynb
QTL_mapping/Analysis summaries by trait/.ipynb_checkpoints/Sr_Summary-checkpoint.ipynb
