
QTL_mapping/.Rhistory
QTL_mapping/docs/images/Sex/Female/.Rhistory
QTL_mapping/.ipynb_checkpoints/RQTL-checkpoint.R
QTL_mapping/docs/PCA/.ipynb_checkpoints/PCA_R-checkpoint.ipynb
QTL_mapping/docs/PCA/.ipynb_checkpoints/Background-checkpoint.ipynb
QTL_mapping/.ipynb_checkpoints/Ni_Summary-checkpoint.ipynb
QTL_mapping/.ipynb_checkpoints/FemaleMap-checkpoint.csv
